.login-form{
    padding: 0 15px;
    max-width: 500px;
    margin: 200px auto;
}
.login-form .form-group{
    margin-left: 0;
    margin-right: 0;
}
.username{
    text-transform: capitalize;
}
.create-user .alert{
    float: right;
    margin: 0;
}