<div class="container">


    <form name="loginForm" class="login-form form-horizontal" ng-submit="login(loginForm, auth)">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="auth.name">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="auth.pwd">
            </div>
        </div>
        <div class="alert alert-danger" ng-show="error" role="alert">Please, check credentials</div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
</div>
