<div class="user-list-page">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">Hi, <span class="username" ng-bind="::current_user.name"></span></p></li>

                    <li>
                        <button class="btn btn-default navbar-btn" ng-click="logout()">Log Out</button>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <form class="create-user form-inline" name="createUser" ng-submit="submitUser(createUser, user)" ng-if="current_user.isAdmin">
        <div class="form-group">
            <label for="exampleInputName2">Name</label>
            <input type="text" required class="form-control" id="exampleInputName2" ng-model="user.name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Password</label>
            <input type="password" required class="form-control" id="exampleInputEmail2" ng-model="user.pwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <div class="alert alert-danger" ng-show="error" role="alert">Username already exist</div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in user_list track by $index">
            <th scope="row" ng-bind="::item.id"></th>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.pwd"></td>
            <td>
                <button class="btn btn-default" ng-click="editUser(item)" ng-if="current_user.isAdmin">Edit</button>
            </td>
            <td>
                <button class="btn btn-default" ng-click="deleteUser($index)" ng-if="current_user.isAdmin">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
